
<h1>
    Edit question:
</h1>

<form method="post" action="/quizzes/<%= quiz.id %>?_method=PUT" >

	<div class="wideRow">
	<label for="text"  class="itemNarrow">Pista a editar:</label>
	<input type="text" class="itemWide" id="text" 
			name="question" value="<%= quiz.question %>" 
			placeholder="escriba text de la pista" autocomplete="off"/>
</div>
<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Edit">


</form>
